<div class="login-container flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-bold text-center mb-4">Login</h2>
    <form>
      <app-shared-input type="text" label="Usuário" name="userName" [required]="true" placeholder="Digite seu usuário"></app-shared-input>
        <app-shared-input type="password" label="Senha" name="password" [isTheLast]="true" [required]="true" placeholder="Digite sua senha"></app-shared-input>
        <app-shared-button text="Entrar" type="submit"></app-shared-button>
    </form>
  </div>
</div>
